@mixin button() {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
  text-decoration: none;
}



@mixin button--blue() {
  @include button();
  background-color: #106cc8;
}

@mixin button--red() {
  @include button();
  background-color: #ff5d56;
}

